<script >
	window.onload=function(){
	var bglist = [];
		bglist[0] = "https://cdn.anyway1314.cn/image20160417081200_8AckC.thumb.700_0.jpeg";
		bglist[1] = "https://cdn.anyway1314.cn/imagebkg-8.jpg";
		bglist[2] = "https://cdn.anyway1314.cn/imagebkg-7.jpeg";
		bglist[3] = "https://cdn.anyway1314.cn/imagebkgtim4.jpg";
		bglist[4] = "https://cdn.anyway1314.cn/imagetimfewafeg.jpg";
		bglist[5] = "https://cdn.anyway1314.cn/image20180202235236_5ShMs.jpeg";
	var i = 0;
	var bkg=document.getElementsByClassName("left-col")[0];
	// bkg.style.background="url(https://cdn.anyway1314.cn/imageba.jpg)";
			function time(){
				   i<5?i++:i=0;
				   bkg.style.background="url("+bglist[i]+")";
			}
			setInterval(time,3000);
	}
</script>
<div class="overlay"></div>
<div class="intrude-less">
	<header id="header" class="inner" style="font-size:15px;;font-weight: 500;">

			<% if(theme.Rotate == true){ %>
			<a href="<%=theme.root%>" class="profilepic_rotate"><img src="<%=theme.avatar%>" class="js-avatar"></a>
			<% } else if(theme.Rotate == false){%>
			<a href="<%=theme.root%>" class="profilepic"><img src="<%=theme.avatar%>" class="js-avatar"></a>
			<%}%>
			
		</a>
		<hgroup>
		  <h1 class="header-author"><a href="<%=theme.root%>"><%=theme.author%></a></h1>
		</hgroup>
		<% if (theme.subtitle){ %>
		    <!--这里是一言API-->
		    <!-- <a id="hitokoto" href="https://hitokoto.cn/api" style="font-size: 16px;color: aliceblue"></a> -->
		    <a id="hitokoto" href="https://anyway1314.cn"  onmouseover="this.style.color='#4B0082';" onmouseout="this.style.color='aliceblue';">_(:з」∠)_ 加载中...</a>
		    <!-- 这两条是为了兼容IE -->
		    <script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
		    <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
		    <!--End-->
	        <script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
	        <!-- 一言结尾 -->
           <!-- 如果不想用一言，那就注释掉上面的，改用下面一行 -->
			<!-- <p class="header-subtitle"><%=theme.subtitle%></p> -->
		<%}%>

		<nav class="header-menu">
			<ul>
			<% for (var i in theme.menu){ %>
				<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
	        <%}%>
			</ul>
		</nav>
		<nav class="header-smart-menu">
    		<% for (var i in theme.smart_menu){ %>
    			<% if(theme.smart_menu[i]){ %>
    			<a q-on="click: openSlider(e, '<%-i%>')" href="javascript:void(0)"><%= theme.smart_menu[i] %></a>
    			<% } %>
			<%}%>

		</nav>
		<nav class="header-nav">
			<div class="social">
				<% for (var i in theme.subnav){ %>
					<a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><i class="icon-<%= i %>"></i></a>
		        <%}%>
			</div>
		</nav>
	</header>
</div>
